/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 100%;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    width: 100%;
    height: 100%;
    color: #979797;
    font-family: "微软雅黑", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.toppage {
    text-align: center;
    /*background: #F8F8F8;*/
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    /*width: 100%;*/
    /*min-height: 680px;*/
    border-bottom: 1px solid #eee;
}

.toppage .container {
    /*width: 860px;*/
    margin: 0px auto;
    padding: 25px 10px 0;
}

a, a:hover { text-decoration: none; }

a i.fa {
    color: #979797;
}

a:hover i.fa {
    color: #50E3C2;
}


/*@-webkit-keyframes drop_down{
    0%{ -webkit-transform: translateY(-15px); }
    100%{ opacity: 1;-webkit-transform: translateY(0); }
}

@-webkit-keyframes appear{
    100%{ opacity: 1; }
}

@keyframes drop_down{
    0%{ -webkit-transform: translateY(-15px); }
    100%{ opacity: 1;-webkit-transform: translateY(0); }
}

@keyframes appear{
    100%{ opacity: 1; }
}
*/
/*.toppage .main-text {
    opacity: 0;
    -webkit-animation: drop_down 1.2s ease forwards;
            animation: drop_down 1.2s ease forwards;
}

.logo {
    position: relative;
    opacity: 0;
    -webkit-animation: appear 2s linear forwards;
            animation: appear 2s linear forwards;
}
*/
#weixin {
    margin: 5px auto;
    width: 200px;
    height: 200px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.toppage .main-text {
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toppage .main-text p {
    margin: 4px auto 4px;
}

.navbar {
    border-bottom: 1px solid #eee;
    font-size: 0.8rem;
    color: #979797;
}
.navbar ul {
    clear: both;
    display: table;
    list-style: none;
    margin: 5px auto 5px;
    padding: 0;
}
.navbar li {
    float: left;
    padding: 0 8px 0 8px;
    display: block;
}
.mainpage .navbar a {
    color: inherit;
}
.mainpage .navbar a.active {
    color: #50E3C2;
}
.mainpage .navbar a:hover {
    color: #50E3C2;
}

.mainpage {
    position: relative;
    color: #303030;
}

.mainpage .container {
    max-width: 760px;
    padding: 0 8px 35px;
    margin: 0px auto;
}
.mainpage .post-list {
    padding-top: 15px;
    padding-bottom: 25px;
    border: 0;
    border-bottom: 1px solid #eee;
}
.mainpage .post-list .post-title {
    margin: 1rem 0 0;
    font-size: 1.5rem;
}
.mainpage .post-meta {
    color: #979797;
    text-decoration: none;
}

.mainpage .badges {
    text-align: center;
    margin: 25px auto 15px;
}

.mainpage .header .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.mainpage .share {
    float: right;
}

.mainpage .header a, .mainpage .share {
    color: #979797;
    text-decoration: none;
}

.mainpage .header a.active {
    color: #50E3C2;
}

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.97);
    padding: 25px 0 25px;
    font-size: 1.5rem;
    border-bottom: 1px solid #eee;
    position: absolute;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
