<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{{site.tagline}}{% endblock %}</title>
    <meta name="description" content="{{ site.tagline }}">
    {% if not pjax %}
    <link rel="shortcut icon" href="/images/gravatar.jpeg">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/all.rss.xml">
    <link rel="stylesheet" type="text/css" href="/css/min.css?t={{now.strftime('%Y%m%d%H%M%S')}}">
    <link rel="stylesheet" type="text/css" href="{{site.cdn_domain}}/css/font-awesome-4.4.0/css/font-awesome.min.css">
    {% endif %}
  </head>
  <body>
  {% if not pjax %}
  <!--[if lt IE 9]>
     <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="toppage" id="toppage">
    <div class="container">
      <div class="logo">
      <a href="/"><img src="/images/gravatar.jpeg"></a>
      </div>
      <div class="main-text">
        <p>I'm 赵一开/BlahGeek, a CS&amp;T Student @ Tsinghua U.</p>
        <p>Get in touch:
          <a href="mailto:i@blahgeek.com?subject=Hello"><i class="fa fa-envelope-o"></i></a>
          <a href="https://github.com/blahgeek"><i class="fa fa-github"></i></a>
          <a id="weixin-btn" href="#"><i class="fa fa-wechat"></i></a>
          <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x6D7EC222C6DE82BF"><i class="fa fa-key"></i></a>
          &nbsp;
          See more:
          <a href="/feeds/all.rss.xml" data-no-instant><i class="fa fa-rss"></i></a>
          <a href="/friends/"><i class="fa fa-users"></i></a>
        </p>
        <p><img id="weixin" src="/images/weixin-qr.png" class="hidden"></p>
        <script>
        document.getElementById("weixin-btn").onclick = function() {
          document.getElementById("weixin").classList.toggle("hidden");
          return false;
        };
        </script>

      <div class="badges">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            {% include "../build/badges/license-cc-by.svg" %}
        </a>
        {% include "../build/badges/updated-date.svg" %}
        <br />
        <a href="https://www.linode.com/?r=a4311b0f4ce32ca8872b534773d99547e2326463">
            {% include "../build/badges/hosted-in-linode.svg" %}
        </a>
        <a href="https://portal.qiniu.com/signup?code=3lift6tliwmz6">
            {% include "../build/badges/cdn-by-qiniu.svg" %}
        </a>
        {% include "../build/badges/icp.svg" %}
        <br />
      </div>

      </div>
    </div>
  </div>
  {% endif %}

{% block body %}
<div class="mainpage">
  <div class="container">
  {% block navbar %}
    <div class="navbar"> <ul>
      <li><a href="/search/"{% if search %} class="active" {% endif %}data-no-instant><i class="fa fa-search"></i></a></li>
      <li><a href="/"{% if page and not page.classification %} class="active" {% endif %}>All</a></li>
      <li><a href="/tech/"{% if page and page.classification == "tech" %} class="active" {% endif %}>Tech</a></li>
      <li><a href="/misc/"{% if page and page.classification == "misc" %} class="active" {% endif %}>Misc</a></li>
      <li><a href="/project/"{% if page and page.classification == "project" %} class="active" {% endif %}>Project</a></li>
      <li><a href="/life/"{% if page and page.classification == "life" %} class="active" {% endif %}>Life</a></li>
    </ul> </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  </div>
</div>
{% endblock %}

<script type="text/javascript">
  var disqus_shortname = '{{ site.disqus }}';
  {% if page %}
  var disqus_identifier = '{{ page.permalink }}';
  var disqus_url = '{{ site.url }}/{{ page.permalink }}';
  {% else %}
  var disqus_identifier = 'generic';
  var disqus_url = '{{ site.url }}';
  {% endif %}
</script>

{% if not pjax %}
<script src="/js/instantclick.mod.min.js" data-no-instant></script>
<script type="text/javascript" src="//blahgeekblog.disqus.com/count.js" data-no-instant></script>
<script type="text/javascript" src="//blahgeekblog.disqus.com/embed.js" data-no-instant></script>

<script data-no-instant>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
InstantClick.on('fetch', function(url){
  var parser = document.createElement('a');
  parser.href = url;
  parser.pathname = "/_pjax" + parser.pathname;
  return parser.href + "?_=" + new Date().getTime();
});
InstantClick.on('receive', function(url, body, title) {
  var toppage = document.getElementById('toppage');
  if(!toppage) return;
  body.insertBefore(toppage.cloneNode(true), body.firstChild);
  return {
    body: body
  };
});
InstantClick.on('change', function(isInitialLoad){
  ga('create', '{{site.google_analytics}}', 'auto');
  ga('send', 'pageview');
  if(!isInitialLoad) {
    DISQUSWIDGETS.forum = disqus_shortname;
    DISQUSWIDGETS.getCount({reset: 1});
    if(disqus_identifier.length > 0) {
      DISQUS.reset({
        reload: true,
        config: function () {
          this.page.identifier = disqus_identifier;
          this.page.url = disqus_url;
        }
      });
    }
  }
});
InstantClick.init();
</script>
{% endif %}

  </body>
</html>
