{% extends "base.html" %}

{% block title %}友情链接 &middot; {{ site.tagline }}{% endblock %}

{% block content %}

<style type="text/css">

.friend-list {
    margin: 10px auto;
}

.friend {
    display: block;
    max-width: 300px;
    background-color: #f6f6f4;
    padding: 15px 25px;
    margin: 15px auto;
    border-radius: 7px;
    color: #444;
}

.friend img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: block; 
    float: left;
}

.friend .text {
    float: left;
    margin-left: 15px;
}

.friend .name {
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
}

.friend .homepage {
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 0.8em;
}

</style>

<div class="friend-list">
    {% for friend in friends %}
    <a href="http://{{friend.homepage}}/">
        <div class="friend clearfix">
            <img src="{{friend.gravatar}}" />
            <div class="text">
                <p class="name">{{friend.name}}</p>
                <p class="homepage">{{friend.homepage}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div id="disqus_thread" class="related"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}

