{% extends "base.html" %}

{% block title %}
  {{ site.tagline }}
{% endblock %}

{% block content %}
  <div class="post-list">
    {% for post in posts %}{% if post.classification == page.classification or not page.classification %}
    <h2 class="post-title"><a href="/{{ post.permalink }}">{{ post.title }}</a></h2>
    <span class="post-date">{{ post.date_human }}</span>&nbsp;
    <span class="post-meta">
      <a data-no-instant href="/_sig/{{ post.permalink }}"><i class="fa fa-key"></i></a>
      {% if post.expired %}<i class="fa fa-calendar-times-o"></i>{% endif %}
      {% if post.github_repo %}<i class="fa fa-github"></i>{% endif %}
      <i class="fa fa-commenting-o"></i>
    </span>
    <span class="disqus-comment-count post-meta" data-disqus-identifier="{{post.permalink}}"></span>
    {% endif %}{% endfor %}
  </div>
  <div class="badges">
    <a href="https://www.linode.com/?r=a4311b0f4ce32ca8872b534773d99547e2326463"><img src="/badges/hosted-in-linode.svg" /></a>
    <img src="/badges/hosted-in-aliyun.svg" />
    <a href="https://portal.qiniu.com/signup?code=3lift6tliwmz6"><img src="/badges/cdn-by-qiniu.svg" /></a>
    <br/>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img src="/badges/license-cc-by.svg" /></a>
    <img src="/badges/posts-number.svg" />
    <img src="/badges/awesome.svg" />
    <br/>
    <a href="/icp-beian/"><img src="/badges/icp.svg" /></a>
  </div>
{% endblock %}
