{% extends "base.html" %}

{% block title %}
  {{ site.tagline }}
{% endblock %}

{% block content %}
  <div class="post-list">
    {% for post in posts %}{% if page.classification == "all" or post.classification == page.classification or not page.classification %}
    <h2 class="post-title"><a href="/{{ post.permalink }}">{{ post.title }}</a></h2>
    <span class="post-date">{{ post.date_human }}</span>&nbsp;
    <span class="post-meta">
      <a href="/_sig/{{ post.permalink }}"><i class="fa fa-check-square-o"></i></a>
      {% if post.expired %}<i class="fa fa-calendar-times-o"></i>{% endif %}
      {% if post.github_repo %}<i class="fa fa-github"></i>{% endif %}
      <i class="fa fa-commenting-o"></i>
    </span>
    <span class="disqus-comment-count post-meta" data-disqus-identifier="{{post.permalink}}"></span>
    {% endif %}{% endfor %}
  </div>
{% endblock %}
