{% extends "index.html" %}

{% block content %}
    <div class="post">
      <h1>{{ page.title }}</h1>
      <div class="post-info">
        <span class="post-date"> {{ page.date_human }} </span>
        {% if page.github_repo %}
        <span class="post-github">
          <iframe src="https://ghbtns.com/github-btn.html?user=blahgeek&repo={{page.github_repo}}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </span>
        {% endif %}
      </div>
      {{ page.body }}
    </div>

    <div class="related">
      <h2>Related Posts</h2>
      <ul class="related-posts">
        {% for post in page.related %}
          <li><h3><a href="/{{ post.permalink }}">
            {{ post.title }}<small> {{ post.date_human }}</small>
          </a></h3></li>
        {% endfor %}
      </ul>
    </div>

<!--     <div id="disqus_thread" class="related"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 -->  
{% endblock %}
