{% extends "base.html" %}

{% block title %}
  {{ page.title }} &middot; {{ site.tagline }}
{% endblock %}

{% block content %}
    <div class="post">
      <h2>{{ page.title }}</h2>
      <div class="post-info">
        <span class="post-date"> {{ page.date_human }} </span>&nbsp;
        <span class="post-meta">
          <a data-no-instant href="/_sig/{{ page.permalink }}"><i class="fa fa-check-square-o"></i></a>
        </span>
        {% if page.github_repo %}
        <span class="post-github">
          <iframe src="https://ghbtns.com/github-btn.html?user=blahgeek&repo={{page.github_repo}}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </span>
        {% endif %}
      </div>
      {% if page.expired %}
        <div class="post-expire">
          <h3><i class="fa fa-calendar-times-o"></i>&nbsp;本文已被标记为过时</h3>
          <p>文中提到的相关信息可能已经发生了很大的变化，请谨慎以本篇文章的内容作为参考做任何事情。</p>
        </div>
      {% endif %}
      {{ page.body }}
    </div>

    <div class="related">
      <h3>Related Posts</h3>
      <ul class="related-posts">
        {% for post in page.related %}
          <li><h4><a href="/{{ post.permalink }}">
            {{ post.title }}<small> {{ post.date_human }}</small>
          </a></h4></li>
        {% endfor %}
      </ul>
    </div>

    <div id="disqus_thread" class="related"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <p class="dsq-brlink" style="font-weight: bold; font-size: 16px; color: #999;">Unable to load comments, check your (GFW Free) Internet connectivity.</p>

{% endblock %}
