---
layout: none
---

{%include head.html%}
{%include toppage.html%}
{%include navbar.html active="Home"%}

            <div class="container">
                <div class="post-list">
                    {% for post in site.posts %}
                    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <span class="post-date">Post at {{ post.date | date_to_string }}</span>
                    {% endfor %}
                </div>
            </div>

{%include tail.html%}
