        <div class="mainpage">
            <div class="header">
                <div class="container">
                    <span class="share">
                        Share with:
                        <a onclick="renren()" href="#"><i class="fa fa-renren"></i></a>
                        <a href="https://twitter.com/share"><i class="fa fa-twitter"></i></a>
                        <a onclick="googleplus()" href="#"><i class="fa fa-google-plus"></i></a>
                    </span>
                    <script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
                    <script type="text/javascript">
                        function renren() {
                            var rrShareParam = {
                                resourceUrl : window.location,
                                srcUrl : '',
                                pic : '',
                                title : "{{ page.title }} - {{ site.tagline }}",
                                description : ''
                            };
                            rrShareOnclick(rrShareParam);
                        }
                        function googleplus() {
                            window.open("https://plus.google.com/share?url=" + encodeURIComponent(window.location), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
                        }
                    </script>
                    <span class="navbar">
                        <a {% if include.active == "Home" %}class="active"{%endif%} href="/">Home</a> / 
                        <a {% if include.active == "Projects" %}class="active"{%endif%} href="/projects/">Projects</a> / 
                        <a {% if include.active == "Blogroll" %}class="active"{%endif%} href="/blogroll/">Blogroll</a>
                    </span>
                </div>
            </div>
