<div class="toppage">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/gravatar.jpeg"></a>
        </div>
        <div class="main-text">
            <p>I'm 赵一开/BlahGeek, a CS&T Student @ Tsinghua U.</p>
            <p>Get in touch: 
                <a href="mailto:i@blahgeek.com?subject=Hello"><i class="fa fa-envelope-o"></i></a>
                <a href="https://github.com/blahgeek"><i class="fa fa-github"></i></a>
                <a href="http://www.renren.com/381135165"><i class="fa fa-renren"></i></a>
                <a id="weixin-btn" href="#"><i class="fa fa-wechat"></i></a>
            </p>
        </div>
        <div id="weixin-qr"></div>
    </div>
</div>
