        <div class="toppage">
            <div class="container">
                <div class="logo">
                    <h2>I'm <span class="name">BlahGeek/赵一开</span></h2>
                    <div id="line0" class="line"></div>
                    <p id="text0" class="text">v. insipid; dull; uninteresting.</p>
                    <div id="line1" class="line"></div>
                    <p id="text1" class="text">n. digital-technology enthusiast.</p>
                </div>
                <p class="small-text">@ Computer Science & Techonology, Tsinghua U, Beijing</p>
                <p class="main-text">Hardware, Computer network, Web design,<br/>
                    Movie, Music, Friends, Love.</p>
                <p class="main-text">Get in touch: 
                    <a href="mailto:i@blahgeek.com?subject=Hello"><i class="fa fa-envelope-o"></i> Email</a>
                    <a href="https://github.com/blahgeek"><i class="fa fa-github"></i> Github </a>
                    <a href="http://www.renren.com/381135165"><i class="fa fa-renren"></i> Renren</a>
                    <a id="weixin-btn" href="#"><i class="fa fa-wechat"></i> Wechat</a>
                </p>
                <div id="weixin-qr"></div>
                <p class="small-text scroll"><i class="fa fa-arrow-circle-o-down"></i> Scroll down to my blog</p>
            </div>
        </div>
